<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Mamadores de Verga</title>
</head>
<body>
    <section>
        <h1>Mamadores de Verga</h1>
        <div class="buttons">
            <a href="/join">Unirse</a>
            <a href="/about">Quienes somos</a>
        </div>
    </section>
</body>
</html>