<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/join.css">
    <title>Mamadores de Verga</title>
</head>
<body>
    <main>
        <form action="/join" method="post">
            <h1>Unirse a Mamadores de Verga</h1>
            <input type="text" placeholder="Discord" name="discord" required>
            <input type="text" name="reason" placeholder="¿Por qué quieres unirte?" required></input>
            <button type="submit">Enviar</button>
        </form>
    </main>
</body>
</html>