*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HackBold';
    src: url('../fonts/HackBold.ttf');
}

@font-face {
    font-family: 'HackRegular';
    src: url('../fonts/HackRegular.ttf');
}

body {
    background-color: #ededed;
    font-family: system-ui, sans-serif;
}

section {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section h1 {
    font-size: 72px;
    margin-bottom: 30px;
}

section .buttons a {
    color: #fff;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    background-color: rgb(109, 109, 255);
    border-radius: 7px;
    transition: background 0.3s ease;
}

section .buttons a:hover {
    background-color: rgb(82, 82, 255);
}
